

						<gumga:column sort-field="id" label="Id">{{$value.id}}</gumga:column>
						<gumga:column sort-field="name" label="Name">{{$value.name}}</gumga:column>
						<gumga:column sort-field="privilege" label="Privilege">
							<div class="col-xs-12">
								<gumga:table 
										values="value.privileges"
										class="table-condensed table-striped"
										selectable="multiple"
										selection="selection"
										on-sort="ctrl.doSort($column, $direction)"
										sort-by="sort.field"
										sort-direction="sort.direction"
										empty-values-message="Sem resultados"
										>

										<gumga:column sort-field="name" label="Name">{{$value.name}}</gumga:column>
								</gumga:table>
								
						        <gumga:pagination ng-show="numberOfPages > 1" items-per-page="list.pageSize" total-items="list.count" ng-model="page" num-pages="numberOfPages" boundary-links="true"></gumga:pagination>
							</div>
						</gumga:column>

