
			<div class="text-left">
				<div class="form-group disabled">
					<label class="control-label">Número</label>
					<span class="form-control">{{entity.id}}</span>
				</div>
				<div class="form-group" gumga-form-group="resource">
					<label class="control-label">Resource</label>					
					<gumga:select ng-model="entity.resource" ng-required="true">
			            <gumga:select:match placeholder="Selecione um resource...">{{$select.selected.name}}</gumga:select:match>
			            <gumga:select:choices repeat="resource in resources track by resource.id" refresh="ctrl.refreshResources($select.search)" refresh-delay="0">
			                {{resource.name}}
			            </gumga:select:choices>
				  	</gumga:select>
					
					
					<gumga:input:errors field="resource"></gumga:input:errors>
				</div>
				<div class="form-group" gumga-form-group="role">
					<label class="control-label">Role</label>					
					<gumga:select ng-model="entity.role" ng-required="true">
			            <gumga:select:match placeholder="Selecione um perfil...">{{$select.selected.name}}</gumga:select:match>
			            <gumga:select:choices repeat="role in roles track by role.id" refresh="ctrl.refreshRoles($select.search)" refresh-delay="0">
			                {{role.name}}
			            </gumga:select:choices>
				  	</gumga:select>
					
					
					<gumga:input:errors field="role"></gumga:input:errors>
				</div>
			    <div class="form-group" gumga-form-group="name">
			        <label class="control-label" for="admin">Name </label>
			        <input name="name" ng-model="entity.name" ng-minlength="3" required />
			    </div>
			    <div class="form-group" gumga-form-group="label">
			        <label class="control-label" for="admin">Label </label>
			        <input name="label" ng-model="entity.label" ng-minlength="3" required />
			    </div>
<!-- 
				<div class="form-group" gumga-form-group="permission_allow">
					<label class="control-label">Permission Allow</label>					
					<gumga:select ng-model="entity.permission_allow" ng-required="true">
			            <gumga:select:match placeholder="Selecione uma permissão...">{{$select.selected.name}}</gumga:select:match>
			            <gumga:select:choices repeat="resource in resources track by resource.id" refresh="ctrl.refreshResources($select.search)" refresh-delay="0">
			                {{permission_allow.name}}
			            </gumga:select:choices>
				  	</gumga:select>
					
					
					<gumga:input:errors field="permission_allow"></gumga:input:errors>
				</div> -->
					<input type="submit" value="Salvar" class="btn btn-primary" ng-disabled="ctrl.saving || entityForm.$invalid	" />
				<a href="#" class="btn btn-default">Cancelar</a>
			</div>