			<div id="buttons" class="col-md-5" style="margin-bottom: 10px;">
						<a href="#/insert" class="btn btn-primary" id="btnNovo">
							<span class="glyphicon glyphicon-plus"></span> 
							Novo
						</a>
						<button id="btnExcluir" class="btn btn-danger" ng-click="ctrl.removeSelection()" ng-disabled="selection.length == 0" >
							<span class="glyphicon glyphicon-trash"></span> 
							Remover
						</button>
			</div>
