
  <gumga:search:field field="id" label="Id"></gumga:search:field>
  <gumga:search:field field="name" label="Name"></gumga:search:field>
  <gumga:search:field field="label" label="Label"></gumga:search:field>
