
			<div class="">
				<div class="form-group disabled">
					<label class="control-label">Número</label>
					<span class="form-control">{{entity.id}}</span>
				</div>
				<div class="form-group" gumga-form-group="resource">
					<label class="control-label">Resource</label>					
					<gumga:select ng-model="entity.resource" ng-required="true">
			            <gumga:select:match placeholder="Selecione um resource...">{{$select.selected.name}}</gumga:select:match>
			            <gumga:select:choices repeat="resource in resources track by resource.id" refresh="ctrl.refreshResources($select.search)" refresh-delay="0">
			                {{resource.name}}
			            </gumga:select:choices>
				  	</gumga:select>
					
					
					<gumga:input:errors field="resource"></gumga:input:errors>
				</div>
				<div class="form-group" gumga-form-group="role">
					<label class="control-label">Role</label>					
					<gumga:select ng-model="entity.role" ng-required="true">
			            <gumga:select:match placeholder="Selecione um perfil...">{{$select.selected.name}}</gumga:select:match>
			            <gumga:select:choices repeat="role in roles track by role.id" refresh="ctrl.refreshRoles($select.search)" refresh-delay="0">
			                {{role.name}}
			            </gumga:select:choices>
				  	</gumga:select>
					
					
					<gumga:input:errors field="role"></gumga:input:errors>
				</div>
			    <div class="form-group" gumga-form-group="name">
			        <label class="control-label" for="admin">Name </label>
			        <input name="name" ng-model="entity.name" ng-minlength="3" />
			    </div>
			    <div class="form-group" gumga-form-group="label">
			        <label class="control-label" for="admin">Label </label>
			        <input name="label" ng-model="entity.label" ng-minlength="3"  />
			    </div>
<!-- 
				<div class="form-group" gumga-form-group="permission_allow">
					<label class="control-label">Permission Allow</label>					
					<gumga:select ng-model="entity.permission_allow" ng-required="true">
			            <gumga:select:match placeholder="Selecione uma permissão...">{{$select.selected.name}}</gumga:select:match>
			            <gumga:select:choices repeat="resource in resources track by resource.id" refresh="ctrl.refreshResources($select.search)" refresh-delay="0">
			                {{permission_allow.name}}
			            </gumga:select:choices>
				  	</gumga:select>
					
					
					<gumga:input:errors field="permission_allow"></gumga:input:errors>
				</div> -->
					<input type="submit" value="Salvar" class="btn btn-primary" ng-disabled="ctrl.saving || entityForm.$invalid	" />
				<a href="#" class="btn btn-default">Cancelar</a>
			</div>

			<br/>
			<gumga:children list="entity.parents" modal-template-url="privileges.html" modal-controller="ItemPrivilegeController as ctrl">
			
			<div class="panel panel-default">
			  <div class="panel-heading buttons clearfix">
			      <h4 class="panel-title pull-left">Privilégios</h4>
			      <div class="btn-group pull-right">
					<button type="button" class="btn btn-primary navbar-btn" ng-click="gumgaChildren.openForm({})">
						<span class="glyphicon glyphicon-plus"></span>
						Novo
					</button>
			      </div>
		      </div>
			  <div class="panel-body">
				<gumga:table values="gumgaChildren.list" class="table-hover">
				    <gumga:column label="Id">{{$value.id}}</gumga:column>
				    <gumga:column label="Role">{{$value.role.name}}</gumga:column>
				    <gumga:column label="Privilégio">{{$value.resource.name}} -> {{$value.name}}</gumga:column>
				    <gumga:column label="Label">{{$value.label}}</gumga:column>
				    <gumga:column label="">
				    	<div class="text-left">
							<a ng-click="gumgaChildren.openForm($value)" class="btn btn-primary" title="Editar">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
					    	<a ng-click="gumgaChildren.remove($value)" class="btn btn-danger" title="Excluir">
					    		<i class="glyphicon glyphicon-remove"></i>
					    	</a>
					    </div>
				    </gumga:column>
				</gumga:table>
			    
			  </div>
			</div>
			

			</gumga:children>

			<script type="text/ng-template" id="privileges.html" >
				<form name="entityItemForm" method="POST" gumga-form-errors gumga-ng-model-errors>
					<div class="modal-header">
			            <h3 class="modal-title">Sub Privilégios</h3>
			        </div>
			        <div class="modal-body" >
						<div class="form-group" gumga-form-group="parents">
							<label class="control-label">Privilégio</label>					
							<gumga:select ng-model="ctrl.entity" ng-required="true">
					            <gumga:select:match placeholder="Selecione um privilégio...">{{$select.selected.resource.name}}{{ $select.selected.name=="" ? " -> " : ""}}{{$select.selected.name}}{{ $select.selected.label=="" ? " -> " : ""}}{{$select.selected.label}}</gumga:select:match>
					            <option value="">Other</option>
					            <gumga:select:choices repeat="privilege in privileges track by privilege.id" refresh="ctrl.refreshPrivileges($select.search)" refresh-delay="0">
					                {{privilege.resource.name}} -> {{privilege.name}} -> {{privilege.label}}
					            </gumga:select:choices>
						  	</gumga:select>
							<gumga:input:errors field="parents"></gumga:input:errors>
						</div>
			        </div>
			        <div class="modal-footer">
			            <button class="btn btn-primary" ng-click="ctrl.confirm()">Salvar</button>
			            <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
			        </div>
				</form>
			</script>
			