
  <gumga:search:field field="name" label="Name"></gumga:search:field>
  <gumga:search:field field="resource.name" label="Resource"></gumga:search:field>
  <gumga:search:field field="role.name" label="Role"></gumga:search:field>
  <gumga:search:field field="label" label="Label"></gumga:search:field>

