

						<gumga:column sort-field="id" label="Id">{{$value.id}}</gumga:column>
						<gumga:column sort-field="resource_id" label="Resource">{{$value.resource.name}}</gumga:column>
						<gumga:column sort-field="role_id" label="Role">{{$value.role.name}}</gumga:column>
						<gumga:column sort-field="name" label="Name">{{$value.name}}</gumga:column>
						<gumga:column sort-field="permision_allow" label="Permission Allow">{{$value.permision_allow}}</gumga:column>
						<gumga:column sort-field="label" label="Label">{{$value.label}}</gumga:column>
					    <gumga:column label="">
					    	<div class="text-left">
								<a href="#/edit/{{$value.id}}" class="btn btn-primary" title="Editar">
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
                        <button class="btn btn-danger" type="submit" ng-click="ctrl.removeOneItem($value)" ng-disabled="search.isAdvancedOpen"><span class="glyphicon glyphicon-trash"></span> Remover</buttom>
							</div>
						</gumga:column>